* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.collection {
  background: orange;
}

section.image {
  width: 350px;
}

section.image a img {
  max-width: 100%;
}
